
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
  margin:0;
  padding:0;
  font-family: 'Nunito', sans-serif;
  scroll-behavior: smooth;
  box-sizing:border-box;
}
section{
  min-height: 100vh;
  padding-left: 10px;
  scroll-margin-top:3.2rem;
  background-color:#050303;
  color:lightgrey;
  min-width: 400px;
}
header,footer{
  position:sticky;
  z-index:1;
  background-color:#333;
  color:lime;
  font-size:2rem;
  display:flex;
  white-space: nowrap;
}
header{
  top:0;
  justify-content:end;
  height:50px;
  border-bottom: 1px lightgrey solid;
  border-radius: 2px;
  align-items: end;
}
footer{
  bottom:0;
  height:45px;
  justify-content:space-evenly;
  border-top:1px lightgrey solid; 
}
.first-page{
  background-image: url(img/first-page-image.jpg);
  background-size: 50% auto;
  background-position:right;
  background-color:#000;
  background-repeat: no-repeat;
  min-width:100px;
}
a,a:visited,a:hover{
  text-decoration: none;
  color:inherit;
}
.intro{
  width:50%;
  height:100px;
  font-size: 3rem;
  margin:0 10px;
  padding-top:100px;
  
  z-index: 1;
  color:lightgrey
}
.name{
  display:block;
  white-space: nowrap;
  font-weight: bolder;
  color:rgb(243, 238, 238);
}
.hello{
  font-size: 4.5rem;
  font-weight: 700;
}
 button, .contact-button{
  color:lime;
  background-color: #333;
  padding: 10px;
  border:2px lime outset;
  border-radius: 3px;
  font:2rem;
  margin-right: 10px;
}
.header-name{
  margin-right:550px;
  display:inline-block;
}
.about-page{
  display:grid;
  grid-template-rows: repeat(5,100px);
  font-size: 1.5rem;
}
h1{
  display:flex;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 20px;
  color:rgb(37, 110, 37)
}
.projects-page{
  font-size: 1.5rem;
  line-height:3rem;
}
.projects-page a {
  color:rgb(4, 172, 4);
}
a:hover,a:focus{
  color:#333;
  background-color: lime;
  text-decoration: underline;
}
dl{
  margin-left: 20px;
}
.contact_fieldset{
  border: none;
  padding-left: 20px;
  font-size: 1.5rem;
}
.contact_message{
  display:block
}
.contact_input{
  width:100%;
  border-radius:10px;
  font-size: inherit;
  border-color: rgba(55, 248, 7, 1);
  border-style: inset;
  border-width: 1.5px;
  background-color: rgb(154, 185, 185);
}
.contact_textarea{
  width:100%;
  height:150px;
  border-radius:10px;
  border-color: rgba(96, 245, 59, 0.877);
  border-style: inset;
  background-color: rgb(126, 158, 158);
}
.homelink{
  padding-left: 20px;
  padding-top: 20px;
  bottom: 45px;
  font-size:1.5rem;
}
